<p>Doctor:</p>
<p><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>

<p>Patient:</p>
<p><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>

<p>Time:</p>
<p><%= @appointment.appointment_datetime.strftime("%B %-d, %Y at %H:%M") %></p>